<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Caronline</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

</head>
<body>
    {% include "views/admin/partials/navbar.html"%}
    <div class="container is-fluid is-max-desktop">
      {% block body %}
      {% endblock %}
  
    </div>
    
    {% include "views/admin/partials/footer.html" %}
    {% block footerScripts %}
    {% endblock %}
</body>
</html>