<div class="buttons are-normal">
    <a href="/admin/rents/editarent/{{rent.id}}" class="button is-info action-edit-rent" data-id="{{rent.id}}" data-status="{{rent.status}}">
        <span class="icon is-small">
            <i class="fas fa-edit"></i>
        </span>
        <span>Edit</span>

    </a>
    <a href="/admin/rents/pay/{{rent.id}}" class="button is-primary action-pay-rent" data-id="{{rent.id}}">
        <span class="icon is-small">
            <i class="fas fa-dollar-sign"></i>
        </span>
        <span>Pay</span>

    </a>
</div>