<div class="buttons are-normal">
    <a href="/admin/rents/editarent/{{rent.id}}" class="button is-info action-edit-rent" data-id="{{rent.id}}" data-status="{{rent.status}}">
        <span class="icon is-small">
            <i class="fas fa-edit"></i>
        </span>
        <span>Edit</span>

    </a>
    <a href="/admin/rents/finish/{{rent.id}}" class="button is-warning action-finish-rent" data-id="{{rent.id}}" data-status="{{rent.status}}">
        <span class="icon is-small">
            <i class="fas fa-flag-checkered"></i>
        </span>
        <span>Finish</span>

    </a>
</div>