{% extends "views/admin/layout/base.html"%}
{% block body %}
<h1 class="is-size-1-desktop is-size-3-mobile is-size-2-tablet has-text-centered pb-5">
    {{tittle}}
</h1>

 <div class="notification is-danger">
  <button class="delete"></button>
   {{error}}
 </div>
 <script>
 document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    const $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
 </script>
{% endblock %}
