{% extends "views/admin/layout/base.html" %}
{% block body %}
{% set car = data.car %}
  <section class="section">
    <div class="container">
      <h1 class="is-size-1-desktop is-size-3-mobile is-size-2-tablet has-text-centered pb-5">
        All cars ({{data.cars.length}})
      </h1>
      {% for message in messages %}
      <div class="notification is-success">
        <button class="delete"></button>
        {{message}}
      </div>
      {% endfor %}
      {% for error in errors %}
      <div class="notification is-danger">
        <button class="delete"></button>
        {{error}}
      </div>
      {% endfor %}
      <div class="columns is-centered">
    
      
        <div class="column is-narrow is-desktop is-mobile">
          <div class="table-container">
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th><abbr title="ID">ID</abbr></th>
                        <th>Brand and model</th>
                        <th>Year</th>
                        <th>Kilometres</th>
                        <th>Color</th>
                        <th>Air conditioner</th>
                        <th>Gearbox</th>
                        <th>Rental value p/day</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for car in data.cars %}
                    <tr>
                        <th>{{car.id}}</th>
                        <td>{{car.brand}} - {{car.carModel}}</td>
                        <td>{{car.year}}</td>
                        <td>{{car.kilometres}}</td>
                        <td>{{car.color}}</td>
                        <td>
                          {% if car.airConditioner %}
                          <span class="icon has-text-success">
                          <i class="fas fa-check"></i>
                        </span>
                        {% else %}
                        <span class="icon has-text-danger">
                          <i class="fas fa-times"></i>
                        </span>
                        {% endif %}
                      </td>
                        <td>{{car.gearBox}}</td>
                        <td>$ {{car.rentalValuePerDay}}</td>                        
                        <td>
                            <div class="buttons are-small is-centered">
                                <a href="/admin/cars/editacar/{{car.id}}" class="button is-info action-edit-car" title="Edit" data-id="{{car.id}}" data-brand="{{car.brand}}" data-model="{{car.carModel}}">
                                    <span class="icon is-small" >
                                        <i class="fas fa-user-edit"></i>
                                    </span>
                                </a>
                                <a href="/admin/cars/deleteacar/{{car.id}}" class="button is-danger action-delete" title="Delete" data-id = "{{car.id}}" data-brand = "{{car.brand}}" data-model = "{{car.carModel}}">
                                    <span class="icon is-small">
                                        <i class="fas fa-trash"></i>
                                    </span>
                                </a>
                                <a href="/admin/cars/details/{{car.id}}" class="button is-success" title="Info">
                                    <span class="icon is-small">
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
      </div>
      
    </div>
  

  </section>
  
  <script src="/js/adminViewJs/carModule/allcars.js"></script>

{% endblock %}
