{% extends "views/admin/layout/base.html" %}
{% block body %}
{% set user = data.user %}
 <section class="section">
    <div class="columns is-centered ">
        <div class="column is-narrow">
            <h1 class="is-size-1-desktop is-size-3-mobile is-size-2-tablet has-text-centered pb-5"> 
                All Customers ({{data.users.length}})
            </h1>
            {% for message in messages %}
            <div class="notification is-success">
              <button class="delete"></button>
              {{message}}
            </div>
            {% endfor %}
            {% for error in errors %}
            <div class="notification is-danger">
              <button class="delete"></button>
              {{error}}
            </div>
            {% endfor %}
            <div class="table-container ">
                <table class="table is-striped is-fullwidth">
                    <thead>
                        <tr>
                            <th><abbr title="ID"> ID</abbr></th>
                            <th>Name(s)</th>
                            <th>Last Name</th>
                            <th>Document Type</th>
                            <th>Document Number</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in data.users %}
                        <tr>
                            <th><a href="/admin/users/details/{{user.id}}">{{user.id}}</a></th>
                            <td>{{user.firstName}}</td>
                            <td>{{user.lastName}}</td>
                            <td>{{user.documentType}}</td>
                            <td>{{user.documentNumber}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
 </section>
{% endblock %}